.w-100.height {
  height: 550px;
}
.banner-background {
  color: #000000;
  padding: 10px 0;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("https://cdn.fs.teachablecdn.com/N0qV6Nz3SW6R02eLMMMP");
}

.banner-contact {
  color: #000000;
  padding: 10px 0;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("https://cdn.fs.teachablecdn.com/N0qV6Nz3SW6R02eLMMMP");
}

.divider {
  padding: 0;
  margin: 0;
}
.divider h1 {
  margin: 10%;
  text-align: center;
  font-size: 48px;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .divider h1 {
    font-size: 20px;
  }
}

/* contact us*/

.write {
  padding: 30px 0;
}

.contbox {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contbox .or {
  position: absolute;
  background: #fff;
  color: #000;
  text-align: center;
  padding-top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  font-size: 1.5em;
  margin: 0 0 0 -48px;
  box-shadow: 0 0 10px #8c8c8c;
  line-height: 28px;
}

.contbox a.quote_btn {
  background: #4eba38;
  border: #4eba38 2px solid;
  border-radius: 4px;
  padding: 20px 60px;
  color: #fff;
  display: inline-block;
  font-size: 1.5em;
  margin: 5px 2px;
  transition: all 0.2s;
}

.contbox a.call_btn {
  border: #4eba38 2px solid;
  border-radius: 4px;
  padding: 20px 60px;
  color: #4eba38;
  display: inline-block;
  font-size: 1.5em;
  margin: 5px 2px;
  transition: all 0.2s;
}

@media (max-width: 768px) {
  .contbox {
    flex-wrap: wrap;
    margin: 0 15px;
  }
  .contbox a.quote_btn,
  .contbox a.call_btn {
    width: 100%;
    font-size: 1.2em;
  }
  .contbox .or {
    font-size: 1.2em;
    margin: 0 auto;
  }
  .w-100.height {
    height: 250px;
  }
}

.project-wrapperimg {
  height: 350px;
}

.project-wrapperimg .wrapper img {
  width: 100%;
  height: 350px;
}
.projectdetails {
  background: #f7f7f7;
}

.projectheader {
  background: #fff;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex: 1;
  /* margin: 60px 0 30px 0; */
  text-align: left;
  padding: 15px 15px;
}

.projectheader .text {
  width: 60%;
  margin: auto;
}

.details {
  width: 100%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.details .imageWrapper {
  width: 30%;
}

.details img {
  width: 80px;
}

.details .text h4 {
  margin: 0 0 5px 0;
  font-size: 18px;
}

/* Tabs panel */
.tabbable-panel {
  border: 1px solid #eee;
  padding: 15px;
  background: #fff;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
  padding: 5px 20px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a,
.tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu,
.tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 20px 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

@media (max-width: 568px) {
  .tabbable-line > .nav-tabs > li {
    width: 100%;
    text-align: center;
  }
  .tabbable-line > .tab-content {
    padding: 20px 0 0;
  }
}

/* slider image */

.imagegallery,
.projectrecords {
  margin: 15px 0;
}

.imagegallery .card,
.projectrecords .card {
  padding: 15px 30px;
  border: 0;
  box-shadow: none;
}

.imagegallery .tabwrapper iframe {
  width: 100%;
  height: 240px;
}

.projectrecords .tabwrapper ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.projectrecords .tabwrapper ul li {
  list-style-type: none;
  font-weight: 600;
  font-size: 14px;
  padding: 2px 10px 0 0;
  display: inline-block;
}

.projectrecords .tabwrapper ul li span {
  font-weight: 400;
}

.tabwrapper {
  background-color: transparent;
}

/*banner */
.tabwrapper .carousel {
  position: relative;
}
.tabwrapper .carousel-item img {
  object-fit: cover;
}
.tabwrapper #carousel-thumbs {
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
.tabwrapper #carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
.tabwrapper #carousel-thumbs img:hover {
  border-color: rgba(255, 255, 255, 0.3);
}
.tabwrapper #carousel-thumbs .selected img {
  border-color: #fff;
}
/* .carousel-control-prev,
.carousel-control-next {
  width: 50px;
} */
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}
