@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

body {
  font-size: 16px;
  /* background-color: red; */
}

/* common */

.layout_padding {
  padding: 60px 0;
}

.blue_bt {
  width: 160px;
  height: 46px;
  background: #4eba38;
  color: #fff;
  float: left;
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  font-weight: 400;
  outline: 0;
  border: 0;
}
@media (max-width: 768px) {
  .blue_bt {
    font-size: 14px;
    width: 100px;
    height: 30px;
    line-height: 30px;
  }
  .layout_padding {
    padding: 30px 0;
  }
  .full {
    margin: 15px 0 0 0 !important;
  }
}

.blue_bt:hover,
.blue_bt:focus {
  background: #fff;
  color: #4eba38;
}

.full {
  width: 100%;
  float: left;
  margin: 0;
}

.margin15 {
  margin-bottom: 15px;
}

.text_align_center {
  text-align: center;
}

.img-responsive {
  max-width: 100%;
}

.legacyContiner {
  background: #f7f7f7;
}

.legacyContiner h3 {
  font-size: 20px;
}

/* page title heading*/

.layout-title {
  position: relative;
  display: block;
  margin-bottom: 50px;
  font-size: 24px;
  text-align: center;
  color: #212121;
  width: 100%;
  margin: 0 auto 45px;
}

.layout-title::before,
.layout-title::after {
  content: "";
  width: 120px;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  bottom: -14px;
}

.layout-title::before {
  background: #000000;
  height: 3px;
}

.layout-title::after {
  width: 34px;
  left: 50%;
  margin-left: -17px;
  height: 7px;
  background: #4eba38;
  bottom: -16px;
}

/* header naigation */

/* navbar */

nav.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: "Roboto", sans-serif;
  background: #f4f4f4;
  min-height: 95px;
}

nav.navbar a,
nav.navbar ul li a {
  color: #4eba38 !important;
}

nav.navbar ul li {
  padding: 0 15px;
  position: relative;
}

nav.navbar ul li a {
  font-weight: 400;
}

nav.navbar .search-container {
  position: relative;
}

nav.navbar form {
  padding: 5px;
  background-color: white;
  position: absolute;
  width: 260px;
  display: none;
  right: 0;
}

nav.navbar form input {
  padding: 5px 10px;
  border: none;
  background-color: #fff;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
}

.navbar-nav li a {
  font-size: 18px;
  font-weight: 300;
}

/* home banner*/

.ovarlay_slide_cont {
  background: rgba(5, 3, 0, 0.63);
  position: absolute;
  width: 60%;
  margin: 0 15%;
 /* z-index: 1111111111;*/
 z-index: auto !important;
  top: 30px;
  left: 0;
  padding: 50px 60px 70px;
}

.ovarlay_slide_cont h4 {
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 15px 0;
  line-height: normal;
}

.ovarlay_slide_cont p {
  color: #fff;
  font-weight: 300;
  margin: 0 0 30px 0;
  font-size: 21px;
  padding: 0 75px 0 0;
  line-height: 28px;
}

@media (max-width: 768px) {
  .mobilehide {
    display: none;
  }
  .ovarlay_slide_cont {
    width: 100%;
    padding: 15px;
    margin: 0;
  }

  .ovarlay_slide_cont h4 {
    font-size: 20px;
  }
  .ovarlay_slide_cont p {
    display: block;
    display: -webkit-box;
    height: 43px;
    margin: 0 auto 15px;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* project */

.card {
  width: 100%;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.card .card-body {
  margin-top: -5px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* min-height: 275px; */
}

.card-header img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card .card-body .tag {
  padding: 2px 10px;
  background-color: #4eba38;
  font-size: 12px;
  margin-bottom: 0;
  color: #fff;
  border-radius: 50px;
  text-transform: uppercase;
}

.card .card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

/* amenities */
.amenities {
  background: #f7f7f7;
}

.thumbnail-terry {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.thumbnail-terry img {
  width: 100%;
  height: 160px;
  transition: 0.35s;
  will-change: transform;
}

.thumbnail-terry figcaption {
  position: absolute;
}

.thumbnail-terry:before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  background: #000;
  opacity: 0;
  transition: 0.35s all ease;
  z-index: 2;
}

.thumbnail-terry figcaption {
  position: relative;
  top: -1px;
  width: 100%;
  padding: 20px 15px;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  background: #434345;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.35s all ease;
  z-index: 1;
}

.thumbnail-terry img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.thumbnail-terry-title {
  color: #fff;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 5px;
}

@media (min-width: 992px) {
  .thumbnail-terry:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  }
  .thumbnail-terry,
  .thumbnail-terry > figure {
    overflow: hidden;
  }
  .thumbnail-terry:before {
    display: block;
  }
  .thumbnail-terry img {
    border-radius: 5px;
  }
  .thumbnail-terry figcaption {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0 15px;
    background: transparent;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  .thumbnail-terry .btn,
  .thumbnail-terry .pagination-classic > li > a,
  .thumbnail-terry .pagination-classic > li > span {
    opacity: 0;
    -webkit-transform: translateY(100%) scale(0.8);
    transform: translateY(100%) scale(0.8);
  }
  .thumbnail-terry:hover .btn,
  .thumbnail-terry:hover .pagination-classic > li > a,
  .thumbnail-terry:hover .pagination-classic > li > span,
  .thumbnail-terry:hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  .thumbnail-terry:hover:before {
    opacity: 0.25;
  }
}

/* footer */
.socialbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.social {
  display: flex;
  width: 100%;
}

.social a {
  width: 25%;
  padding: 0.6em;
  display: inline-block;
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 1.5em;
}
.social a.facebook {
  background: #5d81d1;
}
.social a.twitter {
  background: #1ea0f3;
}
.social a.linkedin {
  background: #0274b3;
}
.social a.instagram {
  background: #c547aa;
}
.social a:hover {
  background: #424242;
}

.footer {
  background-color: #4eba38;
  color: #fff;
  padding: 60px 0 0 0;
}

.footer_blog_section h4,
.item h4 {
  font-size: 20px;
}

.footer .item ul {
  list-style-type: none;
  padding: 0;
}

.footer .item ul li a {
  color: #fff;
}

.footer .copyright {
  padding: 15px 0;
  border-top: solid #fff 2px;
  margin-top: 30px;
  font-size: 16px;
  width: 100%;
}

.footer .copyright p {
  margin-bottom: 0;
}

/* about details*/

.aboutdetails .star {
  float: left;
  width: 400px;
  height: 300px;
  margin-right: 30px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .aboutdetails h3 {
    font-size: 20px;
  }
  .aboutdetails .star {
    width: 100%;
  }
}

/* contact us*/

.imgBox {
  margin: 0;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: #ffffff;
  border: 1px solid #eeeeee;
  height: 200px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.imgBox h5 {
  flex-basis: 100%;
  margin: 30px 0px 0px;
  padding: 0px;
  text-align: center;
  font-weight: 600;
  position: relative;
  font-size: 18px;
  color: rgb(6, 78, 114);
}

.icon {
  position: relative;
}
.icon:before {
  content: "";
  position: absolute;
  background-image: url("./../imgs/spriteImg.png");
  background-repeat: no-repeat;
  background-position: -4px -501px;
  top: -30px;
  left: 50%;
  width: 36px;
  height: 32px;
  margin-left: -20px;
}

.icon.icon-contactLocation:before {
  background-position: -44px -866px;
}

.icon.icon-contactMobile:before {
  background-position: 0 -905px;
}

.icon.icon-contactEmail:before {
  background-position: -45px -944px;
}

.imgBox p,
.imgBox a {
  margin: 0px;
  text-align: center;
  color: rgb(100, 100, 100);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  height: 70px;
  overflow: hidden;
  flex-basis: 100%;
}

.contact-form {
  padding: 30px 35px;
  background: #fff;
  min-height: 496px;
  margin: 0 0 60px 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.contact-form.projecttour {
  min-height: 666px;
}

.contact-form form input {
  width: 100%;
  /* background: #fff;
    border: none; */
  height: 50px;
  padding: 0 20px;
  text-transform: uppercase;
  margin: 15px 0;
}

.contact-form form textarea {
  width: 100%;
  /* background: #fff;
    border: none; */
  min-height: 120px;
  padding: 15px 20px;
  text-transform: uppercase;
  margin: 15px 0;
}

.contact {
  background-image: url("../imgs/contact.png");
  background-size: cover;
}

.contact h2 {
  color: white;
  margin-bottom: 30px;
}

.contact .contact-form {
  width: 50%;
  margin: 0 auto;
}

.contact form input,
.contact form textarea {
  width: 100%;
  outline: none;
  border: none;
  padding: 5px 10px;
}

.contact form input {
  border-radius: 50px;
  margin-bottom: 20px;
}

.contact form textarea {
  resize: none;
  height: 130px;
  border-radius: 25px;
  margin-bottom: 30px;
}

.contact form input[type="submit"] {
  width: 130px;
  height: 40px;
  padding: 0;
  line-height: 40px;
  background-color: #ef44f8;
  color: white;
  margin: 0 auto;
  display: block;
}

@media (max-width: 768px) {
  .imgBox {
    margin-bottom: 20px;
  }
}

/* project details page*/
.project .image {
  position: relative;
  width: 100%; /* for IE 6 */
}
.project .image img {
  width: 100%;
  height: 400px;
}

.project .projectheader {
  position: absolute;
  bottom: -48px;
  /* left: 30px; */
  width: 1110px;
  background: #fff;
  left: 50%;
  margin-left: -555px;
  padding: 15px 30px;
}

.project .projectheader .row {
  width: 100%;
}

.project .projectheader .blue_bt.full {
  width: 100%;
  margin: 0 0 5px 0;
}
.project .projectheader .blue_bt.blue {
  background-color: #007bff;
}

@media (max-width: 1024px) {
  .project .projectheader {
    position: relative;
    bottom: 0;
    background: #ccc;
    width: 100%;
    margin: 0;
    left: 0;
  }
  .project .image img {
    width: 100%;
    height: 150px;
  }

  .project .projectheader .row {
    width: initial;
  }
}
